<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="styles/style.css" />
  <title>About</title>
</head>

<body>



  <!-- create  a navigation bar for the page -->
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/work">Work</a>
    <a href="/gallery">Gallery</a>
  </div>


  <div class="about-page">

  <div class="about-title">
      <h1>President Emmanuel Macron</h1>
  </div>


      <div class='Personal-life'>
        <h2>Personal Life</h2>
      </div>
      <div class='background-info'>

        <div class='family'>
          <h3>Family</h3>
          <p>
            Macron was born on 21 December 1977 in Amiens. He is the son of Françoise Macron a physician, and
            Jean-Michel Macron, professor of neurology at the University of Picardy. He has two
            siblings, Laurent, born in 1979 and Estelle, born in 1982.

            The Macron family legacy is traced back to the village of Authie, Picardy. One of his paternal
            great-grandfathers,
            George William Robertson, was English, and was born in Bristol, United Kingdom. His maternal grandparents,
            Jean
            and Germaine Noguès are from the Pyrenean town of Bagnères-de-Bigorre, Gascony. He commonly visited
            Bagnères-de-Bigorre to visit his grandmother Germaine, whom he called "Manette". Macron associates his
            enjoyment of
            reading and his left-ward political leanings to Germaine, who, after coming from a modest upbringing of a
            stationmaster father and a housekeeping mother, became a teacher then a principal, and died in 2013.
          </p>
        </div>

        <div class='Religion'>
          <h3>Religion</h3>
          <p>
            Macron was baptized a Catholic by his own request at age 12; he is agnostic
            today.
          </p>
        </div>

        <div class='Education'>
          <h3>Education</h3>
          <p>
            Macron was educated mainly at the Jesuit institute Lycée la Providence in Amiens before his parents sent him
            to
            finish his last year of school at the elite Lycée Henri-IV in Paris, where he completed the high school
            curriculum
            and the undergraduate program with a "Bac S, Mention Très bien". At the same, time he was nominated for the
            "Concours
            général" (most selective national level high school competition) in French literature and received his
            diploma for his
            piano studies at Amiens Conservatory.

            In Paris, Macron failed to gain entry to the École normale supérieure twice. He instead studied philosophy
            at the University of Paris-Ouest Nanterre La Défense, obtaining a DEA degree (a master level degree, with a
            thesis on
            Machiavelli and Hegel). Around 1999 Macron worked as an editorial assistant to Paul Ricoeur, the French
            Protestant philosopher who was then writing his last major work, La Mémoire, l'Histoire, l'Oubli. Macron
            worked mainly
            on the notes and bibliography. Macron became a member of the editorial board of the literary magazine
            Esprit.

            Macron did not perform national service because he was pursuing his graduate studies. Born in December 1977,
            he belonged
            to the last year when service was mandatory.

            Macron obtained a master's degree in public affairs at the Sciences Po, majoring in "Public Guidance and
            Economy" before
            training for a senior civil service career at the selective École nationale d'administration (ENA), training
            at an
            embassy in Nigeria and in an office in Oise before graduating in 2004.
          </p>
        </div>
      </div>
  </div>

    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>