<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Home</title>
  </head>
  <body>

  <!-- create  a navigation bar for the page -->
  <div class="navbar">
 
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/work">Work</a>
    <a href="/gallery">Gallery</a>
 
  </div>

  <!-- create a landing page to welcome the user  -->
  <div class="landing-page">
    <h1>Welcome to the President Emmanuel Macron Page</h1>
    <p>This is the home page for the website. You can click on the links below to see the different pages.</p>
  </div>




    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>